---
import BaseLayout from '../layouts/BaseLayout.astro';
import LineChart from '../components/LineChart.astro';

const evolutionData = [
  { year: 2023, value: 100000 },
  { year: 2024, value: 500000 },
  { year: 2025, value: 1600000 },
  { year: 2026, value: 2000000 },
  { year: 2027, value: 2500000 },
  { year: 2028, value: 3000000 },
];

const labels = evolutionData.map((entry) => entry.year.toString());
const data = evolutionData.map((entry) => entry.value);
---

<BaseLayout>
  <h2 class="text-xl font-semibold mb-4">Evolução Patrimonial</h2>
  <p class="mb-4">Veja como o seu patrimônio evoluiu ao longo do tempo.</p>
  <LineChart {labels} {data} />
</BaseLayout>